.contenedorPrincipalHeader{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedorPrincipalHeader img{
    object-fit: contain;
    height: 11rem;
}

.subtitulo{
    color: #cd102b;
    margin-bottom: 1rem;
    font-family: Borui;
    text-align: center;
    font-size: 1.8rem;
}

.botonMenu{
    position: fixed;
    width: 4rem;
    height: 4rem;
    left: 1rem;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--Naranja);
    border-radius: 1rem;
    background-color: rgba(39, 38, 38, 0.7);
    will-change: transform;
    z-index: 2;
    transition: transform 0.05s;
}

.botonMenu:active{
    transform: scale(0.9)
}

.botonMenu svg{
    width: 2.5rem;
    height: 2.5rem;
    fill: white;
}

.contenedorTiposDePago{
    color: white;
    font-family: Copperplate;
}

.contenedorTiposDePago h1{
    font-size: 1rem;
    text-align: center;
    width: 95%;
    margin: 0 auto 1rem auto;
}

.contenedorTiposDePago p{
    width: 95%;
    font-size: 0.7rem;
    margin: 0.5rem auto;
}

.separadorCreditoYDigital{
    display: flex;
    width: 95%;
    margin: 0 auto;
}

.separadorCreditoYDigital p{
    width: 50%;
    text-align: center;
}